.card-container {
  background-color: white;
  border: 1px solid snow;
  border-radius: 10px;
  width: 25vw;
  box-shadow: 0 0 10px rgba(81, 80, 80, 0.5);
  padding: 20px 15px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 12px;
  // height: 18vh;
  height: fit-content;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .cardId {
      color: #6b6f76;
      font-size: large;
    }
  }

  .title-row {
    display: flex;
    gap: 10px;

    .status-icon {
      height: 20px;
      
      &.filter{
        filter: invert(47%) sepia(8%) saturate(320%) hue-rotate(179deg)
        brightness(91%) contrast(94%);
      }
    }

    .title {
      font-size: large;
    }
  }

  .tag-row {
    display: flex;
    align-items: center;

    .priority-icon {
      border-radius: 5px;
      // border: 1px grey solid;
      box-shadow: 0 0 2px #6b6f76;
      padding: 4px;
      height: 20px;
      margin-right: 10px;
      filter: invert(47%) sepia(8%) saturate(320%) hue-rotate(179deg)
        brightness(91%) contrast(94%);
    }

    .tags {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 7px;

      .tag {
        padding: 4px;
        // border: 1px grey solid;
        box-shadow: 0 0 2px #6b6f76;
        border-radius: 5px;
        text-align: center;
        display: flex;
        align-items: center;
        height: fit-content;
        gap: 5px;

        .circle {
          background-color: #bec2c8;
          height: 12px;
          display: flex;
          border-radius: 100%;
          aspect-ratio: 1/1;
        }
      }
    }
  }
}

// .Card-Tag > span {
//   border: 1px solid rgb(218, 218, 218);
//   border-radius: 2px;
//   margin-right: 10px;
//   padding: 2px;
// }
